<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <nav>
            <ul>
            
             <li><a href="/auth/google">Login</a></li>
              <li><a href="/home">Home</a></li>
        </ul>
        </nav>

        <header>
            <h1>This is home Page</h1>
        </header>

        <main>
            <p>Welcome !! </p>
        </main>
</body>
</html>