<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .google-btn{
            color: white;
            background: red;
            font-size: 18px;
            text-decoration: none;
            padding: 10px;

        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
             <li><a href="/auth/login">Login</a></li>
              <li><a href="/home">Home</a></li>
        </ul>
    </nav>

    <header>
        <h1>Login using .... Google</h1>
    </header>

    <main>
        <a href="/auth/google" class="google-btn">Google+</a>
    </main>
    
</body>
</html>