# Dependency directories
node_modules/

# Environment variables file
.env

# Editor files
.vscode/
.idea/

# Compiled output
dist/
build/

# Log files
logs/
*.log

# Operating System files
.DS_Store
Thumbs.db
